<h1><%= @campaign.name %></h1>

<h3>Campaign Details</h3>

<table class="table">
  <tr>
    <td><strong>id</strong></td>
    <td><%= @campaign.id %></td>
  </tr>
  <tr>
    <td><strong>name</strong></td>
    <td><%= @campaign.name %></td>
  </tr>
  <tr>
    <td><strong>type</strong></td>
    <td><%= @campaign.type %></td>
  </tr>
  <tr>
    <td><strong>active</strong></td>
    <td><%= @campaign.active %></td>
  </tr>
  <tr>
    <td><strong>archived</strong></td>
    <td><%= @campaign.archived %></td>
  </tr>
  <tr>
    <td><strong>url</strong></td>
    <td><%= @campaign.url %></td>
  </tr>
  <tr>
    <td><strong>created_at</strong></td>
    <td><%= @campaign.created_at %></td>
  </tr>
</table>

<p><a href="/">&laquo; Dashboard</a></p>

