<h1>Campaigns</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><a href="/campaigns/<%= campaign.id %>"><%= campaign.id %></a></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.type %></td>
        <td><%= campaign.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br /><br />

<h1>Recent Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ship To</th>
      <th>Status</th>
      <th>Campaign</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><a href="/orders/<%= order.id %>"><%= order.id %></a></td>
        <td><%= order.ship_to.name %>, <%= order.ship_to.city %>, <%= order.ship_to.state %> <%= order.ship_to.zip %></td>
        <td><%= order.status %></td>
        <td><a href="/campaigns/<%= order.campaign_id %>"><%= order.campaign.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><a href="/orders">All orders &raquo;</a></p>

