<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ship To</th>
      <th>Status</th>
      <th>Campaign</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><a href="/orders/<%= order.id %>"><%= order.id %></a></td>
        <td><%= order.ship_to.name %>, <%= order.ship_to.city %>, <%= order.ship_to.state %> <%= order.ship_to.zip %></td>
        <td><%= order.status %></td>
        <td><a href="/campaigns/<%= order.campaign_id %>"><%= order.campaign.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><a href="/">&laquo; Dashboard</a></p>

